

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">

<h1 class="text-center">Ajouter un cours</h1>


<%= simple_form_for @course do |f| %>
	<%= f.input :name, placeholder: "Course name" %>
	<%= f.input :tagline, placeholder: "Course tagline"  %>
	<%= f.input :url, placeholder: "URL" %>
	<%= f.button :submit, "Lister le cours", class: "btn btn-primary" %>
	<% end %>



	</div>
</div>


